body{
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
overflow-x: hidden;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
background: url(uc2.jpg);
color: white;
}

body {
 font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
 font-weight: 100;
 font-size: 15px;
 line-height: 30px;
 }

.logo{
display: inline-block;
vertical-align: top;
width: 100px;
height: 100px;
}

.container{
width: 80%;
margin: auto;
overflow: hidden;
}

header{
color: white;
padding-top: 5px;
min-height: 70px;
border-bottom: #59ab6b 3px solid;
}

header a{
color: white;
text-transform: uppercase;
font-size: 18px;
}

header li{
float: left;
display: inline;
padding: 0 20px 0 20px;
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

header #branding{
float: left;
}

header #branding h1{
margin: 0;
}

header nav{
float: right;
margin-top: 65px;
}

header .current a{
color: #59ab6b;
font-weight: bold;
}

#Menu{
padding: 5px;
color: white;
text-align: center;
font-size: 34px;

}
#Menu p{
font-size: 25px;
}

footer {
border-top: #59ab6b 3px solid;
text-align: center;
color: white;
font-size: 15px;
}

h1{
font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
font-weight: bold;
padding: 10px 10px 10px 10px;
text-align: center;
}

p{
text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}
/* Modal Content */
.modal-content {
  display: block;
  margin: auto;
  padding: 0;
  width: 80%;
  max-width: 800px;
}
/* The Close Button */
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}
.mySlides {
  display: none;
}
.cursor {
  cursor: pointer
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#fff;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}
img.hover-shadow {
  transition: 0.3s
}
.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}
